@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: Poppins, "sans-serif";
  --font-roboto: Roboto, "sans-serif";
  --font-Playfair: Playfair Display, "serif";
  --tracking-spasi: 0.5em
}

/* Animasi garis neon */
@layer utilities {
  @keyframes flow {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -1000;
    }
  }

  .animate-flow {
    stroke-dasharray: 6 10;
    animation: flow 10s linear infinite;
  }
  
  .glow-bg {
    background: radial-gradient(
      circle at center,
      rgba(56, 189, 248, 0.35) 0%,
      rgba(30, 58, 138, 0.05) 60%,
      transparent 100%
    );
  }

/* Efek bayangan lembut di sekitar frame */
  .glow-shadow {
  box-shadow: 0 0 60px rgba(56, 189, 248, 0.25);
  }
}